doctype
html
	head
	link(rel='stylesheet', href='/src/bootstrap.min.css')
	script(src='/lib/jquery/dist/jquery.min.js')
	script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
	body
		div.container
			h1 EX app
			block content
				p default things