extends ../layout

block content
	h2 New DBuser

	form.form-horizontal(method="POST", action="/dbusers")
		div.form-group
			label.control-label.col-sm-2 Name:
			div.col-sm-10 
				input#name(type="text" name="name")
		div.form-group
			label.control-label.col-sm-2 Email:
			div.col-sm-10
				input#email(type="email" name="email")
		div.form-group
			label.control-label.col-sm-2 Age:
			div.col-sm-10
				input#age(type="number" name="age")
		div.form-group
			div.col-sm-offset-2.col-sm-10
				p.btn-toolbar
					button.btn.btn-success(type="submit") Create
					a.btn.btn-danger(href="/dbusers") Cancel
				